# GitHub Configuration
GITHUB_TOKEN={{ github_token }}
GITHUB_ORG={{ github_organization }}
GITHUB_REPO={{ github_repository }}
GITHUB_REPOSITORIES='[{"owner":"tochinicky","repo":"nodejs-monitoring-app"}]'

SLACK_API_URL={{ slack_webhook_url }}
# Export Settings
EXPORT_PORT=8000
METRICS_INTERVAL=300